<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="292" height="195" border="1">
    <tr>
      <td colspan="6">Name
        <label>
        <input type="text" name="textfield" />
        </label>        
        <label>
        <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td width="37">Name</td>
      <td width="33">Place</td>
      <td width="38">Phone</td>
      <td width="45">Gender</td>
      <td width="36">Email</td>
      <td width="63">&nbsp;</td>
    </tr>
 {% for i in val %}
    <tr>

      <td>{{ i.Name }}</td>
      <td>{{ i.place }}</td>
      <td>{{ i.phone }}</td>
        <td>{{ i.gender }}</td>
      <td>{{ i.email }}</td>

      <td><p><a href="#">Edit</a></p>
      <p><a href="#">Delete</a></p></td>

    </tr>
                        {% endfor %}

    <tr>
      <td colspan="6"><label><a href="addpolis">Add new</a></label></td>
    </tr>
  </table>
</form>
</body>
</html>
