<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="288" height="148" border="1">
    <tr>
      <td height="50" colspan="5">Date
      <input type="text" name="textfield" />
      <label>
      <input type="submit" name="Submit" value="Search" />
</label></td>
    </tr>
    <tr>
      <td width="62" height="39">Complaint</td>
      <td width="41">Date</td>
      <td width="39">User</td>

      <td width="60">&nbsp;</td>
    </tr>
            {% for i in value %}

    <tr>
      <td>{{ i.complaint_details }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.userid.fname }} {{ i.userid.lname }}</td>
      <td><a href="sentreport">Report</a></td>
            {% endfor %}

    </tr>

  </table>
</form>
</body>
</html>
