<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="299" border="1">
    <tr>
      <td colspan="3">name
        <label>
        <input type="text" name="textfield" />
      </label></td>
      <td colspan="2"><label>
      <input type="submit" name="Submit2" value="Search" />
</label></td>
    </tr>
    <tr>
      <td width="55">Name</td>
      <td width="52">Photo</td>
      <td width="45">Place</td>
      <td width="25">Age</td>
      <td width="66">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>

       <td>{{ i.Fname }} </td>
      <td><img src="{{ i.photo.url }}"height="100" width="100"> </td>
      <td>{{ i.place }}</td>
        <td>{{ i.age }}</td>
      <td><p><a href="editcriminal/{{ i.id }}">Edit</a></p>
      <p><a href="deletecriminal/{{ i.id }}">Delete</a></p></td>
    </tr>
                        {% endfor %}

    <tr>
      <td height="61" colspan="5"><label><a href="addcriminallist">Add new</a></label></td>
    </tr>
  </table>
</form>
</body>
</html>
