<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="managepolice">Add & manage police </a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="addcriminallist">Add criminal details</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="managecriminallist">View &amp; manage criminal list</a></td>
    </tr>
    <tr>
      <td><a href="viewcomplaint">View complaint</a></td>
    </tr>
    <tr>
      <td><a href="viewreport">View Report</a></td>
    </tr>
    <tr>
      <td><a href="assigntasktopolice">Assign task to police</a></td>
    </tr>
    <tr>
      <td><a href="taskstatus">View task status</a></td>
    </tr>
  </table>
</form>
</body>
</html>
