<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="203" height="80" border="1">
    <tr>
      <td width="37">Police</td>
      <td width="45">Task</td>
      <td width="34">Date</td>
      <td width="59">Report</td>
    </tr>
      {% for i in value %}
    <tr>
      <td>{{ i.policeid.Name}}</td>
      <td>&nbsp;{{ i.task }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.report}}</td>


    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
